<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IControl" />
                <binding name="WSHttpBinding_IFilter" />
                <binding name="WSHttpBinding_ILoad" />
                <binding name="WSHttpBinding_IMail" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/ControlService/" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IControl" contract="ControlServiceReference.IControl"
                name="WSHttpBinding_IControl">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/FilterService/" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IFilter" contract="FilterServiceReference.IFilter"
                name="WSHttpBinding_IFilter">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/LoadService/" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ILoad" contract="LoadServiceReference.ILoad"
                name="WSHttpBinding_ILoad">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/MailService/" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IMail" contract="MailServiceReference.IMail"
                name="WSHttpBinding_IMail">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>